<!DOCTYPE html>
<html>
<!-- Render information
User: User.firstname, user.lastname
Subject: List -->
<head>
	<title>Dashboard</title>
	<meta charset="utf-8">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'plan/dashboard.css' %}">
</head>
<body>
	<div class="user-info">
		<br>
		<img src="{{profile_pic}}" name="ProfilePic">
		<table>
			<tr>
				<td colspan="2" style="color:white; text-shadow: 4px 1px 2px black; font-size: 30px">{{user.first_name}} {{user.last_name}}</td>
			</tr>
			<tr>
				{% for x in subjects %}
				<td style="background-color: silver; ">
					{{x}} </td>
				}
			</tr>
				{% endfor %}
		</table>
		<table class="nav-dash">
			<tr><td>
				<form>
					<input type="submit" name="sub_Plan" value="PLAN-it">
				</form>
			</td></tr>
			<tr><td>
				<form>
					<input type="submit" name="sub_assessment" value="PLAN-it Assessment">
				</form>
			</td></tr>
			<tr><td>
				<form>
					<input type="submit" name="sub_marks" value="PLAN-it Marks">
				</form>
			</td></tr>
			<tr><td>
				<form>
					<input type="submit" name="sub_week" value="PLAN-it Week">
				</form>
			</td></tr>
			<tr><td>
				<form>
					<input type="submit" name="sub_classroom" value="PLAN-it Classroom">
				</form>
			</td></tr>
		</table>
	</div>
	<div class="information">
		<h1>PLANIT</h1>
	</div>
	<div class="feed">
		<table>
			<tr>
				<td width="100px;"><img src="{% static 'plan/photos/lesson.jpeg' %}"></td>
				<td><h2>My Lesson Plans</h2></td>
			</tr>
		</table>
		<div id='lesson'>
			<h3>Physical Education</h3>
			<ul width='150px;'>
				<li>Educator: Bob Builder</li>
				<li>Topic: Movement/Muscles</li>
			</ul>
			<ul>
				<li>Date: 31 October 2017</li>
				<li>Grade: Cambridge IGCSE</li>
			</ul><br>
			
			<input type="button" name="download" value="Download">
			<input type="button" name="share" value="Share">
			<input type="button" name="view" value="view">
			<input type="button" name="edit" value='Edit'>
		</div>
		<div id='lesson'>
			<h3>Computer Science</h3>
			<ul width='150px;'>
				<li>Educator: Bob Builder</li>
				<li>Topic: Data/Binary</li>
			</ul>
			<ul>
				<li>Date: 31 October 2017</li>
				<li>Grade: Cambridge AS</li>
			</ul><br>
			
			<input type="button" name="download" value="Download">
			<input type="button" name="share" value="Share">
			<input type="button" name="view" value="view">
			<input type="button" name="edit" value='Edit'>
		</div>
		<div id='lesson'>
			<h3>Physical Education</h3>
			<ul width='150px;'>
				<li>Educator: Bob Builder</li>
				<li>Topic: Safety/Sport</li>
			</ul>
			<ul>
				<li>Date: 31 October 2017</li>
				<li>Grade: Cambridge IGCSE</li>
			</ul><br>
			
			<input type="button" name="download" value="Download">
			<input type="button" name="share" value="Share">
			<input type="button" name="view" value="view">
			<input type="button" name="edit" value='Edit'>
		</div>
	</div>
	<div class="stats">
		<h3 style="padding: 0px; color: white; font-family: 'Courier'; position: relative; top: -50px;">My Classroom</h3>
		<table style="position: relative; top: -50px">
			<tr style="background-color: black; color: white;">
				<td>80+</td><td>5 Students</td>
			</tr>	
			<tr style="background-color: white">
				<td>70-79</td><td>7 Students</td>
			</tr>
			<tr style="background-color: black; color: white;">
				<td>60-69</td><td>4 Students</td>
			</tr>
			<tr style="background-color: white">
				<td>50-59</td><td>5 Students</td>
			</tr>
			<tr style="background-color: black; color:white;">
				<td>50-</td><td>3 Students</td>
			</tr>
		</table>
	</div>
	<div class="connect">
		
		
	</div>
</body>
</html>