<!DOCTYPE html> 
<html>
<head>
	<title>PLAN-it</title>
	<meta charset="utf-8">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'plan/planit.css' %}">
	<script type="text/javascript">
		var count = 0;
		function selected_monday(){
			var btn = document.getElementById("mondaybtn");
			btn.style = "background-color: rgba(128, 253, 93, 0.71); box-shadow: 5px 3px 5px 5px black inset";
			var day = document.getElementById("day_count");
			day.value = day.value + "M";
		}
		function selected_tuesday(){
			var btn = document.getElementById("tuesdaybtn");
			btn.style = "background-color: rgba(93, 253, 218, 0.71); box-shadow: 5px 3px 5px 5px black inset";
			var day = document.getElementById("day_count");
			day.value = day.value + "T";
			
		}
		function selected_wednesday(){
			var btn = document.getElementById("wednesdaybtn");
			btn.style = "background-color: rgba(138, 93, 253, 0.71); box-shadow: 5px 3px 5px 5px black inset";
			var day = document.getElementById("day_count");
			day.value = day.value + "W";
		}
		function selected_thursday(){
			var btn = document.getElementById("thursdaybtn");
			btn.style = "background-color: rgba(253, 138, 93, 0.71); box-shadow: 5px 3px 5px 5px black inset";
			var day = document.getElementById("day_count");
			day.value = day.value + "t";
		}
		function selected_friday(){
			var btn = document.getElementById("fridaybtn");
			btn.style = "background-color: rgba(208, 253, 93, 0.71); box-shadow: 5px 3px 5px 5px black inset";
			var day = document.getElementById("day_count");
			day.value = day.value + "F";
		}
		function add_unit(){
			var form = document.getElementById("more");
			var ediv = document.getElementById("Units")
			var myDiv = ediv.cloneNode(true);
			myDiv.name = "units" + count;
			count ++;
			form.appendChild(myDiv);
		}
	</script>
</head>
<body>
	
		<div class="header">
			<table>
				<tr>
					<td colspan="4"><h1>Lesson Plan Generator</h1></td>
				</tr>
				<tr>
					<td>for {{user}}</td>
				</tr>
			</table>
		</div>
		{% if step == '0' %}
		<div class='week'>
			<table>
				<tr><td><h2>Select the days of the week that you would like to plan for:</h2></td>
				</tr>
			</table>
			<input type="button" name="monday" value="Monday" id="mondaybtn" onclick="selected_monday()">
			<input type="button" name="tuesday" value="Tueasday" id="tuesdaybtn" onclick="selected_tuesday()">
			<input type="button" name="wednesday" value="Wednesday" id="wednesdaybtn" onclick="selected_wednesday()">
			<input type="button" name="thursday" value="Thursday" id="thursdaybtn" onclick="selected_thursday()">
			<input type="button" name="friday" value="Friday" id="fridaybtn" onclick="selected_friday()">
		</div>
		<form action='' method='POST' id='subform'>
			{% csrf_token %}
			<input type="hidden" name="step" value='1'>
			<input type="text" name="day_count" id="day_count" value="">
			<input type="submit" name="Continue">
			{% csrf_token %}
		</form>
	{% endif %}
	{% if step == '1.1' %}
			<div class="select_unit">
			<form action='' method="POST" id="step1form">
			<h1 style='display: inline;'>Creating a lesson plan for Monday: </h1> <input type="date" name="lesson_date", placeholder="Lesson Date" style="display: inline;">
			<h2>Select the units to cover: for {{subject}} </h2>
			<select id="Units">
				{% for i in units %}
				<option>{{i}}</option>
				{% endfor %}
			</select>
			<div id="more"></div>
			<input type="button" value="Add more" name="btn" onclick="add_unit()">
			<input type="submit" name="btn">
			<input type="hidden" name="step" value='1.2'>
			{% csrf_token %}
		</form>
		</div>
	{% endif %}
</body>
</html>