<!DOCTYPE html>
<html>
<head>
	<title>Year Plan Setup</title>
	<meta charset="utf-8">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'plan/yearplan.css' %}">
	<script type="text/javascript">
			function add(){
			var form = document.getElementById('learner_info');
			var table_parent = document.getElementById('addtable');
			var row = document.createElement('tr');
			var data = document.createElement('td');
			var data2 = document.createElement('td');
			var lname = document.createElement('input');
			var lsurname = document.createElement('input');
			var lable = document.createElement('p');
			lable.value = "Name and Surname:"
			table_parent.appendChild(row);
			row.appendChild(data);
			row.appendChild(data2);
			data.appendChild(lable);
			data2.appendChild(lname);
			data2.appendChild(lsurname);

		}
	</script>
</head>
<body>
		<span class="banner">
			<table>
				<td><a href="./school_info">Edit School info</a></td>
				<td><a href="./class_info">Edit class info</a></td>
				<td><a href="./subject_info">Edit subject info</a></td>
				<td><a href="./past_plans">Past plans</a></td>
				<td><a href="./profile">My profile</a></td>
			</table>
		</span>
		{% if step == 1 %}
		<div class='step1'>
			<form action="" method="POST" style="display:relative; right: 220px;">
				{% csrf_token %}
				<h1>Step {{step}}: Start by selecting the term dates.</h1>
				<table>
					<tr><tr>
						<td>Year</td><td><input type="number" name="year_name" min=2017 max=2099></td></tr>
					</tr>
					<tr id="table_heading">
						<td></td>
						<td></td>
						<td></td>
					</tr>
					
					<tr>
						<td>Term 1 begins:</td>
						<td><input type="date" name="t1s" placeholder="MM-DD"></td>
						<td>Term 1 ends:</td>
						<td><input type="date" name="t1e" placeholder="MM-DD"></td>
					</tr>
					<tr>
						<td>Term 2 begins:</td>
						<td><input type="date" name="t2s" placeholder="MM-DD"></td>
						<td>Term 2 ends:</td>
						<td><input type="date" name="t2e" placeholder="MM-DD"></td>
					</tr>
					<tr>
						<td>Term 3 begins:</td>
						<td><input type="date" name="t3s" placeholder="MM-DD"></td>
						<td>Term 3 ends:</td>
						<td><input type="date" name="t3e" placeholder="MM-DD"></td>
					</tr>
					<tr>
						<td>Term 4 begins:</td>
						<td><input type="date" name="t4s" placeholder="MM-DD"></td>
						<td>Term 4 ends:</td>
						<td><input type="date" name="t4e" placeholder="MM-DD"></td>
					</tr>
					<tr><td>{{user.username}}</td></tr>
				</table>
				<input type="number" name="step" value=1 style='display:none;'>
				<input type="text" name="usr_name" value='{{user.username}}' style='display:none;'>
				<input type="submit" name="btn" value='NEXT'>
			</form>
			<div class="spider">
				<table style="border: solid black 3px;
				width: 350px; background-color: rgba(10, 31, 66, 0.5);
				position: fixed; top: 15%">
				<th colspan="2" style='text-align:left;'> <h3 style='color: white; text-shadow: 3px 3px 5px black;'>Department Suggestion</h3>
				</th>
				<tr><td colspan="2">The department of education of South Africa recommend the following Term dates for government schools according to their website.</td></tr>
				<tr><td style='width:60px;'>Term 1</td><td>{{ term1_date }}</td></tr>
				<tr><td style='width:60px;'>Term 2</td><td>{{ term2_date }}</td></tr>
				<tr><td style='width:60px;'>Term 3</td><td>{{ term3_date }}</td></tr>
				<tr><td style='width:60px;'>Term 4</td><td>{{ term4_date }}</td></tr>
			</table></div>
		{% endif %}
		{% if step == 2 %}
				<form action="" method="POST">
					{% csrf_token %}
					<h1>School Info</h1>
					<table>
						<tr><td colspan="2">Providing Planit with some information on how your school functions, will allow the program to draw up custom plans according your actual day at school.  It's a little bit tedious at the beginning, but pays of in a big time.</td>
						</tr>
						<tr>
							<td>School Name:</td><td><input type="text" name="sch_name" style='width:250px;'></td>
						</tr>
						<tr>
							<td>Choose your subject:</td><td><select name='subject'>
								{% for i in sub %}
									<option> {{i}} </option>
								{% endfor %}
							</select></td>
						</tr>
						<tr>
							<td style='font-size: 15px; color:white;'><a href="./subject_info" style='color:white;'>Click here</a> to add a subject</td>
						</tr>
						<tr>
							<td>Over a period of how long does your timetable run?</td>
							<td><select name='table_span'>
								<option name='1w'>1 Week</option>
								<option name='2w'>2 Weeks</option>
								<option name= '3w'>3 Weeks</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>How long (in minutes) is a period more or less?</td>
							<td><input type="number" name="period_time" min=15 max=90></td>
						</tr>
					</table>
					<input type="number" name="step" value=2 style='display:none;'>
				<input type="text" name="usr_name" value='{{user.username}}'>
					<input type="submit" name="btn" value="NEXT">
				</form>
			{% endif %}
			{% if step == 3 %}
				<form action="" method="POST">
					{% csrf_token %}
					<h1>Step {{step}}: Some subject particulars for {{ subject.subject_name }} @ {{ school_name }}:</h1>
					<input type="hidden" name="sch_name" value="{{school_name}}">
					<table>
						<tr>
							<td>How many periods do you have in total for {{ subject.subject_name }}</td>
							<td><input type="Number" name="rtotal" min=1 max=10></td>
						</tr>
						<tr>
							<td>For which Grade would you like to open this branch?</td>
							<td><select name='grade'>
								<option>Primary School</option>
								<option>Grade 8</option>
								<option>Grade 9</option>
								<option>Grade 10</option>
								<option>Grade 11</option>
								<option>Grade 12</option>
								<option>IGCSE Cambridge</option>
								<option>AS Cambridge</option>
								<option>A Cambridge</option>
							</select></td>
						</tr>
						<tr>
							<td>Does your subject have a Practical aspect?</td>
							<td><select name='Prac_Sub'>
								<option>Yes</option>
								<option>No</option>
							</select></td>
						</tr>
						<tr>
							<td>If you answered yes to the previous question, what is the ratio between practical and theory lessons</td>
							<td><select name= 'prac_ratio'>
								<option>50/50</option>
								<option>1 Practical for 3 Theory</option>
								<option>1 Theory for 3 Practicals</option>
								<option>Limited practical</option>
							</select></td>
						</tr>
						<tr>
							<td>Which syllabus would you like to use for this subject?</td>
							<td><select name='syllabus'>
								<option>SA Government</option>
								<option>Cambridge Education</option>
							</select></td>
						</tr>
					</table>
					<input type="number" name="step" value=3 style='display:none;'>
				<input type="text" name="usr_name" value='{{user}}'>
				<input type="text" name="sch_name" value='{{ school_name }}' style='display:none;'>
				<input type="text" name="subject" value='{{ subject.subject_name }}' style='display:none;'>
					<input type="submit" name="btn">
				</form></div>
			{% endif %}
			{% if step == 4 %}
				<form action="" method="POST">
					{% csrf_token %}
					<h1>Class info</h1>
					<table>
						<tr>
							<td colspan="2">
								You can choose whether or not to setup your class data now, or later.  Setting up class data will enable the following features in PLANit:
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<ul>
									<li>PLANit Assessment Planning</li>
									<li>PLANit Marks Management</li>
									<li>PLANit Classroom statistics</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td>
								Class name: 
							</td>
							<td>
							( {{grade}} )  Grade : <input type="text" name="cls_name" style='width:100px;'>
							</td>
						</tr>
						<tr>
							<td>
								Would you like to add students now?
							</td>
							<td>
								<select name='add_now'>
									<option>Yes</option>
									<option>No</option>
								</select>
							</td>
						</tr>	
					</table>
					<input type="number" name="step" value=4 style='display:none;'>
				<input type="text" name="usr_name" value='{{ user }}'>
				<input type="text" name="sch_name" value='{{ school_name }}' style='display:none;'>
				<input type="hidden" name="grade" value='{{ grade }}'>
				<input type="hidden" name="subject" value='{{ subject }}'>
					<input type="submit" name="btn">
				</form>
			{% endif %}
			{% if step == 5 %}
				<form action="" method="POST" id='learner_info'>
					{% csrf_token %}
					<h1>Learner info</h1>
					<table id='addtable'>
						<tr>
							<td>Name and surname:</td>
							<td><input type="text" name="l_name" placeholder="Name"><input type="text" name="l_surname" placeholder="Surname"></td>
						</tr>
					</table>
					<input type="number" name="step" value=5 style='display:none;'>
				<input type="text" name="usr_name" value='{{user}}' style='display:none;'>
				<input type="text" name="sch_name" value='{{ school_name }}' style='display:none;'>
				<input type="hidden" name="grade" value='{{ grade }}'>
				<input type="hidden" name="subject" value='{{ subject }}'>
				<input type="button" id="add_student" value="Add Student" onclick="add()">
				</form>
			{% endif %}

</body>
</html>